/3rd/sciter-js-sdk
/3rd/spdlog-1.9.2
/.vs
/src/SuperAutoClicker/Release
/src/SuperAutoClicker/Debug
/src/SuperAutoClicker/resources.cpp
/src/SuperAutoClicker/macros
/src/SuperAutoClicker/ReleaseWin32.props
/src/SuperAutoClicker/SuperAutoClicker.rc
/src/SuperAutoClicker/SuperAutoClicker.aps
/src/SuperAutoClicker/SuperAutoClicker.vcxproj.user
/src/SuperAutoClicker/Debug
/src/SuperAutoClicker/Release
/bin/Release/SuperAutoClicker.pdb
/bin/Release/SuperAutoClicker.exe
/bin/Debug/SuperAutoClicker.exe
/bin/Debug/SuperAutoClicker.ilk
/bin/Debug/SuperAutoClicker.pdb
/bin/Debug/SuperAutoClicker.exe
/src/InputHook/Release
/src/InputHook/Debug
/src/InputHook/InputHook.vcxproj.user
/src/CommonLib/Release
/src/CommonLib/Debug
/src/CommonLib/CommonLib.vcxproj.user
/src/Installer/Installer.vcxproj.user
/src/Installer/Debug
/src/Installer/Release
/src/CrashReport/CrashReport.vcxproj.user
/src/CrashReport/Release
/src/CrashReport/Debug
/bin/Debug/tmp
/bin/Debug/lib
/bin/Debug/pdb
/bin/Debug/*.ilk
/bin/Debug/*.exp
/bin/Debug/*.lib
/bin/Debug/*.pdb
/bin/Release/tmp
/bin/Release/lib
/bin/Release/pdb
/bin/Release/*.pdb
/bin/Release/*.exp
/bin/Release/*.ilk
/bin/Release/*.iobj
/bin/Release/*.ipdb
/bin/Release/*.lib
/bin/Release/InputHook.lib
/bin/Release/InputHook.dll
/bin/Release/PowerClickerInstaller.exe
/bin/Release/CrashReport.dll
/bin/Debug/PowerClickerInstaller.pdb
/bin/Debug/CrashReport.dll
/bin/Debug/InputHook.dll
/bin/Debug/InputHook.ilk
/bin/Debug/InputHook.lib
/bin/Debug/InputHook.pdb
/bin/Debug/PowerClickerInstaller.exe
/bin/Debug/PowerClickerInstaller.ilk
/bin/Release/PowerClicker_Installer.exe
/bin/Release/InputHook.ipdb
/bin/Release/InputHook.iobj
/bin/Debug/PowerClicker_Installer.exe
/src/Installer/resources.cpp
/src/Website/.vscode
/src/UI/.idea
/src/server/jeecg-boot/ant-design-vue-jeecg/admin
/.idea
/src/Installer/ReleaseWin32.props
/src/site/power-clicker/yarn.lock
/bin/Release/sfx.txt
/ftp_script.txt
/3rd
/cis/__pycache__/*.pyc
/src/CommonLib/Company.h
/src/CommonLib/Domain.h
/src/CommonLib/Version.h
/src/UI/common/js/Constants.js
/src/site/power-clicker/public/assets/js/global.js
/src/UI/common/js/BrandConfig.js
/bin/Debug/LocalClicker.exe
/bin/Debug/LocalClickerInstaller.exe
/src/Unstaller/Unstaller.aps
/src/Unstaller/Unstaller.vcxproj.user
/src/Unstaller/Debug
/src/Unstaller/Release
/bin/Debug/Uninst.exe
/bin/Release/Uninst.exe
/src/PowerKit/Debug
/src/PowerKit/Release
/bin/Debug/PowerKit.exe
/bin/Release/PowerKit.exe
/src/Unstaller/resources.cpp
/src/PowerKit/PowerKit.vcxproj.user
/bin/Release/sciter.dll
/bin/Release/Qt5Core.dll
/src/CommonLib/AppId.h
/src/InputHook/InputHook.aps
/src/Installer/Installer.aps
/src/PowerKit/PowerKit.aps
/src/Installer/Installer.rc
/src/Unstaller/Unstaller.rc
/src/PowerKit/PowerKit.rc
/src/InputHook/InputHook.rc
/bin/Debug/macros
/src/face/.idea
/bin/Release/LocalClicker.exe
/bin/Release/LocalClickerInstaller.exe
/bin/Debug/Inst.exe
