#caption {
  /*display: inline-block;*/
  padding: 0dip 0dip 0dip 10dip;
  flow: horizontal;
  vertical-align: middle;
  background: var(caption_background);
  /*border-bottom: 1dip solid rgba(255, 255, 255, 0.08);*/
}

#logo_img {
  width: 16dip;
  height: 16dip;
}
#title_label {
  margin-left: 4dip;
}

.squre_btn {
  behavior: button;
  background: none;
  background-position: center;
  width: 36dip;
  height: 36dip;
  margin: 0;
  padding: 0;
}
.squre_btn:hover {
  background: rgba(0, 0, 0, 0.2);
  background-position: center;
}

#close_btn {
  foreground-size: 20dip;
  opacity: 0.7;
}

#container {
}

#content {
  position: relative;
  background: var(app_background);
  vertical-align: middle;
  width: 500dip;
  /*border: 1dip red solid;*/
}

#main {
  padding: 20dip 40dip;
  horizontal-align: center;
}

#macro_name_input {
  margin-left: 10dip;
  height: 16dip;
  width: *;
}
#macro_name_input:empty {
  color: white;
}

#btns_line {
  margin-top: 20dip;
  flow: horizontal;
  horizontal-align: right;
}

.btn {
  background: #ffffff33;
  opacity: 0.8;
}
.btn:hover {
  opacity: 1.0;
  font-weight: bold;
}

#save_macro_btn {
  background: var(front_color);
}

#btns_line .btn:not(:first-child) {
  margin-left: 20dip;
}